body {
    background-color: #FFD700; /* زرد */
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.menu-icon {
    cursor: pointer;
}

nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

nav.hidden {
    display: none;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
}

.video {
    width: calc(33.33% - 10px);
    margin: 5px;
}

.cheat-options {
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}